/* Extra Small Devices (Phones, Portrait) */
@media (max-width: 480px) {
    .navbar {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .title,
    .title-about,
    .title-skills,
    .title-contact {
        font-size: 2.5rem; /* Adjust title size for better readability */
    }
    .section-text p {
        font-size: 1.25rem; /* Adjust text size for better readability */
    }
    .section-text-p1 {
        font-size: 1rem;
    }
    .nav-links {
        gap: 0.5rem; 
    }
    #profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
    #about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
        margin-bottom: 40vh;
    }
    #about .section-container {
        margin-top: 10rem;
    }
    .details-container{
        margin-top: 10rem;
    }
    .text-container{
        
    }
}
  
/* Small Devices (Phones, Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .navbar {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .section-text p {
        font-size: 1.25rem; /* Adjust text size for better readability */
    }
    .section-text-p1 {
        font-size: 1rem;
    }
    .nav-links {
        gap: 0.5rem; 
    }
    #profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
    #about .section-container {
        margin-top: 10rem;
    }
    .details-container{
        margin-top: 10rem;
    }
}

/* Medium Devices (Tablets, Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    .title,
    .title-about,
    .title-skills,
    .title-contact {
        font-size: 2.5rem; /* Adjust title size for better readability */
    }
}
  
/* Large Devices (Tablets, Landscape / Small Desktops) */
@media (min-width: 1025px) and (max-width: 1440px) {
    
}
  
/* Extra Large Devices (Desktops, Laptops) */
@media (min-width: 1441px) {
    
}
  
/* High-Resolution Displays (Retina) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    
}
  
  /* Orientation Specific Queries */
@media (orientation: portrait) {
    /* Styles for portrait orientation */
}
  
@media (orientation: landscape) {
    /* Styles for landscape orientation */

}